* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

li,
ul,
h1,
h2,
h3,
h4 {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

/* ==== Task 1 ======= */

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#categories .item {
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
}

.item h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.96px;
}
.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  border-radius: 4px;
  border: 1px solid #808080;
  max-width: 360px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

/* ===== Task 2 ===== */

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  align-items: center;
}

.gallery_image {
  max-width: 360px;
}

/* ====== Task 3 ======== */

#name-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 140px 8px 16px;
  margin-bottom: 16px;
}

h1 {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.333;
  letter-spacing: 0.04em;
}

/* ======= Task 4 ======= */

.login-form {
  padding: 24px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form label input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid #808080;
}

.login-form label input:hover {
  border: 1px solid #000;
}

.login-form button {
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  padding: 8px 16px;

  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin-top: 16px;
}

.login-form button:hover,
.login-form button:hover {
  background: #6c8cff;
}

/* ==== Task 5 ===== */

.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 60px;
  background-color: #fff;
  border-radius: 15px;
}

.widget .change-color {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.widget .change-color:hover {
  background: #6c8cff;
}

/* ===== Task 6 ===== */

#controls {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  padding: 32px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: #f6f6fe;
}

input[type='number'] {
  padding: 8px 72px;
  border-radius: 8px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: inherit;
}

#controls button {
  width: 120px;
  padding: 8px 16px;

  border-radius: 8px;
  background: #4e75ff;
  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#controls button[data-create]:hover {
  background: #6c8cff;
}

#controls button[data-destroy] {
  background: #ff4e4e;
}

#controls button[data-destroy]:hover {
  background: #ff7070;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 44px;

  padding: 32px;
  border-radius: 8px;
  background: #f6f6fe;
}
